/* Box-sizing border-box FTW */
html {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

/* Some color definitions - for a better-looking World */
.flex-item1 { background-color: #e56343; }
.flex-item2 { background-color: #daa844; }
.flex-item3 { background-color: #6ab59f; }
.flex-item4 { background-color: #5da0b3; }
.flex-item5 { background-color: #e89292; }

body {
  height: 100vh;
  border: 3px solid orange;
}

.flex-item {
  color: black;
  font-family: 'KiloGram';
  font-size: 96px;
  text-align: center;
  flex: 1 1 auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  main.flex-container {
    flex-direction: column;
  }
  main.flex-container .flex-item4 {
    order: 2;
  }
  main.flex-container .flex-item2 {
    order: 3;
  }
  main.flex-container .flex-item3 {
    order: 4;
  }
}
